{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-primary fw-bold fs-1 mt-5 mb-5 ">{{ article.name }}</h1>
<div class="text-center text-dark fw-bold fs-5 mt-5 mb-5 ">{{ article.body }}</div>
<div class="text-center mt-4">
    <a href="{% url 'article_update' article.id %}" class="btn btn-primary me-2">Редактировать статью</a>
    <form action="{% url 'article_delete' article.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить эту статью?')">Удалить статью</button>
    </form>
</div>
{% endblock %}